<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>
</head><!--CAMBIOS-->
<div class="container">
  <!-- <div class="text-center">

    <h2>Crear quiniela</h2>
    <p class="lead"></p>
  </div> -->

  <div class="row">
    <!-- <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill">3</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Product name</h6>
            <small class="text-muted">Brief description</small>
          </div>
          <span class="text-muted">$12</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Second product</h6>
            <small class="text-muted">Brief description</small>
          </div>
          <span class="text-muted">$8</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Third item</h6>
            <small class="text-muted">Brief description</small>
          </div>
          <span class="text-muted">$5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between bg-light">
          <div class="text-success">
            <h6 class="my-0">Promo code</h6>
            <small>EXAMPLECODE</small>
          </div>
          <span class="text-success">-$5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (USD)</span>
          <strong>$20</strong>
        </li>
      </ul>

      <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code">
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </div>
      </form>
    </div> -->
    <div class="col-md-12 order-md-1">
      <h4 class="mb-3">Datos de la quiniela</h4>
      <form class="needs-validation" [formGroup]="createQuiniela" (ngSubmit)="saveQuiniela(createQuiniela.value)">
        <div class="row">
          <div class="col-md-4 mb-2">
            <label >Número del concurso</label>
            <input formControlName="numConcurso" type="number" class="form-control" id="firstName">
          </div>
          <!-- <div class="col-md-4 mb-2">
            <label >Fecha inicio</label>
            <input formControlName="dateStart" id="dateInicio" class="form-control" type="datetime-local" />
          </div>
          <div class="col-md-4 mb-2">
            <label >Fecha de cierre</label>
            <input class="item-box" formControlName="dateEnd" id="dateInicio" class="form-control" type="datetime-local" />
          </div> -->
          <div class="col-md-4 mb-2">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Guardar</button>
          </div>
        </div>
        <hr class="mb-4">
        <h4 class="mb-3">Crear quiniela</h4>
        <div class="row">
          <div class="col-md-4 mb-2"  style="height: 600px;  overflow-y: scroll; overflow-x: hidden;">
            <table class="styled-table table">
              <thead style=" position: sticky;
              top: 0;">
                <tr>
                  <th style="text-align: center;">Lista de equipo</th>
                </tr>
              </thead>
              <tbody>
                <div cdkDropList #pendingList="cdkDropList" [cdkDropListData]="listaEquipos" [cdkDropListConnectedTo]="[doneList,reviewList]"
                  class="item-list" (cdkDropListDropped)="drop($event)">
                  <div class="item-box" *ngFor="let item of listaEquipos" cdkDrag>{{item.name}}</div>
                </div>
              </tbody>
            </table>
          </div>
          <div class="col-md-8 mb-2">
            <table id="tableComplete">
              <tbody>
                <td>
                  <table class="styled-table table">
                    <thead style=" position: sticky;
                    top: 0;">
                      <tr>
                        <th style="text-align: center;">Local</th>
                      </tr>
                    </thead>
                    <tbody>
                      <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="listaLocal" [cdkDropListConnectedTo]="[pendingList,reviewList]"
                          class="item-list" (cdkDropListDropped)="drop($event)">
                          <div class="item-box" *ngFor="let item of listaLocal" cdkDrag>{{item.name}}</div>
                        </div>
                    </tbody>
                  </table>
                </td>
                <td><strong>VS</strong></td>
                <td>
                  <table class="styled-table table">
                    <thead style=" position: sticky;
                    top: 0;">
                      <tr>
                        <th style="text-align: center;">Visitante</th>
                      </tr>
                    </thead>
                    <tbody>
                      <div cdkDropList #reviewList="cdkDropList" [cdkDropListData]="listaVisitante" [cdkDropListConnectedTo]="[doneList, pendingList]"
                          class="item-list" (cdkDropListDropped)="drop($event)">
                          <div  class="item-box" *ngFor="let item of listaVisitante" cdkDrag>{{item.name}}</div>
                        </div>
                    </tbody>
                  </table>
                </td>
                <td>
                  <table class="styled-table table">
                    <thead style=" position: sticky;
                    top: 0;">
                      <tr>
                        <th>Fecha de inicio</th>
                      </tr>
                    </thead>
                    <tbody>
                      <div *ngFor="let item of listaVisitante; index as i">
                        <input id="{{ i + 1 }}" class="form-control" type="datetime-local" />
                      </div>
                    </tbody>
                  </table>
                </td>
              </tbody>
            </table>


          </div>

          <!-- <div class="col-md-4 mb-2">
            <div class="drag-container">
                <div class="section-heading">Lista equipo</div>

                <div cdkDropList #pendingList="cdkDropList" [cdkDropListData]="listaEquipos" [cdkDropListConnectedTo]="[doneList,reviewList]"
                  class="item-list" (cdkDropListDropped)="drop($event)">
                  <div class="item-box" *ngFor="let item of listaEquipos" cdkDrag>{{item.name}}</div>
                </div>
            </div>
          </div>
          <div class="col-md-4 mb-2">
              <div class="drag-container">
                  <div class="section-heading">Local</div>

                  <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="listaLocal" [cdkDropListConnectedTo]="[pendingList,reviewList]"
                    class="item-list" (cdkDropListDropped)="drop($event)">
                    <div class="item-box" *ngFor="let item of listaLocal" cdkDrag>{{item.name}}</div>
                  </div>
                </div>
          </div>
          <div class="col-md-4 mb-2">
              <div class="drag-container">
                  <div class="section-heading">Visitante</div>

                  <div cdkDropList #reviewList="cdkDropList" [cdkDropListData]="listaVisitante" [cdkDropListConnectedTo]="[doneList,pendingList]"
                    class="item-list" (cdkDropListDropped)="drop($event)">
                    <div class="item-box" *ngFor="let item of listaVisitante" cdkDrag>{{item.name}}</div>
                  </div>
                </div>
          </div> -->
        </div>

        <hr class="mb-4">

      </form>
      <br>
      <br>
    </div>
  </div>

</div>
