<div class="container">
  <div class="text-center">

    <h2>Equipo</h2>
  </div>
</div>
<div class="row">
  <div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered bordered table-striped table-condensed datatable" style="text-align:center;">
      <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Fecha creación</th>
            <th>Fecha actualización</th>
            <th>Activo</th>
            <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of listaEquipos; index as i">
              <td>{{ i+1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.fecha_creacion }}</td>
              <td>{{ item.fecha_actualizacion }}</td>
              <td>
                <div class="form-check form-switch" >
                  <input [checked]= item.activo class="form-check-input" style="text-align:center;" type="checkbox" role="switch" id="flexSwitchCheckDefault" >
                </div>
              </td>
              <td>
                  <a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                  <a href="#" class="edit" title="Edit" data-toggle="tooltip" id="{{ item.id }}"><i class="material-icons">&#xE254;</i></a>
                  <!-- <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a> -->
              </td>
          </tr>
      </tbody>
    </table>
  </div>

</div>

