<div class="container">
  <div class="text-center">

    <h2>Equipo</h2>
  </div>
</div>
<div class="row">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
          <tr>
              <th>#</th>
              <th>Nombre <i class="fa fa-sort"></i></th>
              <th>Fecha creación</th>
              <th>Fecha actualización <i class="fa fa-sort"></i></th>
              <th>Activo</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of listaEquipos; index as i">
              <td>{{ i+1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.fecha_creacion }}</td>
              <td>{{ item.fecha_actualizacion }}</td>
              <td>
                <div class="form-check form-switch">
                  <input [checked]= item.activo class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                </div>
              </td>
              <td>
                  <a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                  <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                  <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
              </td>
          </tr>
      </tbody>
    </table>
  </div>

</div>

