<div class="container">
  <div class="text-center">

    <h2>Usuarios</h2>
  </div>
</div>
<div class="row">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
          <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Dirección</th>
              <th>Telefono</th>
              <th>Email</th>
              <th>Rol</th>
              <th>Activo</th>
              <th>Fecha creación</th>
              <th>Fecha actualización </th>
              <th>Activo</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>

</div>

