<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="card mx-30">
          <table class="styled-table table">
            <thead>
              <tr>
                <th colspan="5" style="text-align: center; font-size: 20px;">Selecciona tus combinaciones</th>
              </tr>
              <tr>
                <th colspan="5" style="text-align: center; font-size: 15px;" >Concurso #2713</th>
              </tr>
              <tr>
                <th colspan="5" style="text-align: center; font-size: 10px;" >Partidos del viernes 08 al domingo 10 de julio de 2022</th>
              </tr>
              <tr>
                <th colspan="5"></th>
              </tr>
              <tr>
                <th colspan="2" style="text-align: center;">Local</th>
                <th style="text-align: center;">Empate</th>
                <th colspan="2" style="text-align: center;">Visita</th>
              </tr>
            </thead>
            <tbody>
                <tr style="text-align: center;" >
                    <td class="check-local">
                    <div style="display: flex;justify-content: center;align-items: center;">
                      <input type="checkbox" value="L" id="local1" name="check1" >
                      <label for="local1">&nbsp;</label>
                    </div>
                    </td>
                    <td>Guadalajara</td>
                    <td class="check-empate">
                    <div style="display: flex;justify-content: center;align-items: center;">
                      <input type="checkbox" value="E" id="empate1" name="check1" >
                      <label for="empate1">&nbsp;</label>
                    </div>
                    </td>
                    <td>Puebla</td>
                    <td class="check-visita">
                    <div style="display: flex;justify-content: center;align-items: center;">
                      <input type="checkbox" value="V" id="visita1" name="check1" >
                      <label for="visita1">&nbsp;</label>
                    </div>
                    </td>
                </tr>
                <tr style="text-align: center;">
                  <td class="check-local">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="L" id="local2" name="check2" >
                    <label for="local2">&nbsp;</label>
                    </div>
                  </td>
                  <td>Pumas</td>
                  <td class="check-empate">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="E" id="empate2" name="check2" >
                    <label for="empate2">&nbsp;</label>
                    </div>
                  </td>
                  <td>Tijuana</td>
                  <td class="check-visita">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="V" id="visita2" name="check2" >
                    <label for="visita2">&nbsp;</label>
                    </div>
                  </td>
                </tr>
                <tr style="text-align: center;">
                  <td class="check-local">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="L" id="local3" name="check3" >
                    <label for="local3">&nbsp;</label>
                    </div>
                  </td>
                  <td>Santos</td>
                  <td class="check-empate">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="E" id="empate3" name="check3" >
                    <label for="empate3">&nbsp;</label>
                    </div>
                  </td>
                  <td>San Luis</td>
                  <td class="check-visita">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="V" id="visita3" name="check3" >
                    <label for="visita3">&nbsp;</label>
                    </div>
                  </td>
                </tr>
                <tr style="text-align: center;">
                  <td class="check-local">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="L" id="local4" name="check4" >
                    <label for="local4">&nbsp;</label>
                    </div>
                  </td>
                  <td>Aguilas</td>
                  <td class="check-empate">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="E" id="empate4" name="check4" >
                    <label for="empate4">&nbsp;</label>
                    </div>
                  </td>
                  <td>Monterrey</td>
                  <td class="check-visita">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="V" id="visita4" name="check4" >
                    <label for="visita4">&nbsp;</label>
                    </div>
                  </td>
                </tr>
                <tr style="text-align: center;">
                  <td class="check-local">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="L" id="local5" name="check5" >
                    <label for="local5">&nbsp;</label>
                    </div>
                  </td>
                  <td>Juarez</td>
                  <td class="check-empate">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="E" id="empate5" name="check5" >
                    <label for="empate5">&nbsp;</label>
                    </div>
                  </td>
                  <td>Toluca</td>
                  <td class="check-visita">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="V" id="visita5" name="check5" >
                    <label for="visita5">&nbsp;</label>
                    </div>
                  </td>
                </tr>
                <tr style="text-align: center;">
                  <td class="check-local">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="L" id="local6" name="check6" >
                    <label for="local6">&nbsp;</label>
                    </div>
                  </td>
                  <td>Queretaro</td>
                  <td class="check-empate">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="E" id="empate6" name="check6" >
                    <label for="empate6">&nbsp;</label>
                    </div>
                  </td>
                  <td>Atlas</td>
                  <td class="check-visita">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="V" id="visita6" name="check6" >
                    <label for="visita6">&nbsp;</label>
                    </div>
                  </td>
                </tr>
                <tr style="text-align: center;">
                  <td class="check-local">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="L" id="local7" name="check7" >
                    <label for="local7">&nbsp;</label>
                    </div>
                  </td>
                  <td>Cruz Azul</td>
                  <td class="check-empate">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="E" id="empate7" name="check7" >
                    <label for="empate7">&nbsp;</label>
                    </div>
                  </td>
                  <td>Pachuca</td>
                  <td class="check-visita">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="V" id="visita7" name="check7" >
                    <label for="visita7">&nbsp;</label>
                    </div>
                  </td>
                </tr>
                <tr style="text-align: center;">
                  <td class="check-local">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="L" id="local8" name="check8" >
                    <label for="local8">&nbsp;</label>
                    </div>
                  </td>
                  <td>Leon</td>
                  <td class="check-empate">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="E" id="empate8" name="check8" >
                    <label for="empate8">&nbsp;</label>
                    </div>
                  </td>
                  <td>Necaxa</td>
                  <td class="check-visita">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="V" id="visita8" name="check8" >
                    <label for="visita8">&nbsp;</label>
                    </div>
                  </td>
                </tr>
                <tr style="text-align: center;">
                  <td class="check-local">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="L" id="local9" name="check9" >
                    <label for="local9">&nbsp;</label>
                    </div>
                  </td>
                  <td>Chicago</td>
                  <td class="check-empate">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="E" id="empate9" name="check9" >
                    <label for="empate9">&nbsp;</label>
                    </div>
                  </td>
                  <td>Miami</td>
                  <td class="check-visita">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="V" id="visita9" name="check9" >
                    <label for="visita9">&nbsp;</label>
                    </div>
                  </td>
                </tr>
                <tr style="text-align: center;">
                  <td class="check-local">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="L" id="local10" name="check10" >
                    <label for="local10">&nbsp;</label>
                    </div>
                  </td>
                  <td>Los Angeles</td>
                  <td class="check-empate">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="E" id="empate10" name="check10" >
                    <label for="empate10">&nbsp;</label>
                    </div>
                  </td>
                  <td>New York</td>
                  <td class="check-visita">
                    <div style="display: flex;justify-content: center;align-items: center;">
                    <input type="checkbox" value="V" id="visita10" name="check10" >
                    <label for="visita10">&nbsp;</label>
                    </div>
                  </td>
                </tr>
            </tbody>
          </table>
          <!-- <img src="https://i.postimg.cc/WzjcC7Hb/1.jpg" class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-title">Julia Thorn</h5>
            <h6>Junior Developer</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse amet repellat, eaque aliquid similique eius alias facilis quisquam, ipsa dolor.</p>
            <div class="socials">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-youtube"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-dribbble"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mx-30">
          <!-- <img src="https://i.postimg.cc/mgKqKwcf/2.jpg" class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-title">Martha David</h5>
            <h6>UI / UX Designer</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse amet repellat, eaque aliquid similique eius alias facilis quisquam, ipsa dolor.</p>
            <div class="socials">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-youtube"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-dribbble"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card mx-30">
          <!-- <img src="https://i.postimg.cc/Y9zsGBdM/3.jpg" class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-title">Laura Chedd</h5>
            <h6>Full-Stack Developer</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse amet repellat, eaque aliquid similique eius alias facilis quisquam, ipsa dolor.</p>
            <div class="socials">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-youtube"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-dribbble"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

