<div class="demo">
  <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6" *ngFor="let item of listaTickets">
          <div class="pricingTable blue" style="margin-bottom: 5%;">
            <div class="pricingTable-header">
              <div class="price-value">{{"Partidos del"}} {{item.dateRange}}</div>
            </div>
            <div class="pricing-content" >
              <ul>
                <table class="styled-table table">
                  <thead>
                    <tr>
                      <th colspan="5" style="text-align: center; font-size: 15px;" >{{"Concurso"}} {{"#"}}{{item.idTicketBet}}</th>
                    </tr>
                    <tr>
                      <th  style="text-align: center;">Local</th>
                      <th style="text-align: center;"></th>
                      <th style="text-align: center;">Visita</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr style="text-align: center;" *ngFor="let itemD of item.listTicketDetail; index as i">
                          <td>{{ itemD.nameLocal }}</td>
                          <td><strong>VS</strong></td>
                          <td>{{ itemD.nameVisitante }}</td>
                      </tr>
                  </tbody>
                </table>
              </ul>
            </div>
            <div class="pricingTable-signup" >
              <a href="#" id={{item.idTicketBet}} (click)="seleccionarTicket(TicketSelect, item)">Seleccionar</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


<ng-template #TicketSelect let-modal >
	<div class=""  style="border-radius: 0px; border-right: none; border-top:none; border-bottom:none">
    <div class="modal-header">
      <!-- <h4 class="modal-title text-success text-uppercase text-center"></h4> -->
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" >
      <ul>
        <li>
          <table class="styled-table table" id="tableSeleccionada">
            <thead>
              <tr>
                <th colspan="5" style="text-align: center; font-size: 20px;">Selecciona tus combinaciones</th>
              </tr>
              <tr>
                <th colspan="5" style="text-align: center; font-size: 15px;" >{{"Concurso"}} {{"#"}}{{ticketSelect.idTicketBet}}</th>
              </tr>
              <tr>
                <th colspan="5" style="text-align: center; font-size: 15px;" >{{"Partidos del"}} {{ticketSelect.dateRange}}</th>

                <!-- <th colspan="5" style="text-align: center; font-size: 10px;" >Partidos del viernes 08 al domingo 10 de julio de 2022</th> -->
              </tr>
              <tr>
                <th colspan="5"></th>
              </tr>
              <tr>
                <th colspan="2" style="text-align: center;">Local</th>
                <th style="text-align: center;">Empate</th>
                <th colspan="2" style="text-align: center;">Visita</th>
              </tr>
            </thead>
            <tbody>
                <tr style="text-align: center;" *ngFor="let selectItem of ticketSelect.listTicketDetail; index as i">
                    <td class="check-local">
                    <div style="display: flex;justify-content: center;align-items: center;">
                      <input type="checkbox" (click)="selectCheck($event)" value="L" id="{{local}}{{selectItem.idTicketBet}}{{selectItem.numGame}}" name="{{check}}{{selectItem.idTicketBet}}{{selectItem.numGame}}" >
                      <label for="{{local}}{{selectItem.idTicketBet}}{{selectItem.numGame}}">&nbsp;</label>
                    </div>
                    </td>
                    <td>{{ selectItem.nameLocal }}</td>
                    <td class="check-empate">
                    <div style="display: flex;justify-content: center;align-items: center;">
                      <input type="checkbox" (click)="selectCheck($event)"  value="E" id="{{empate}}{{selectItem.idTicketBet}}{{selectItem.numGame}}" name="{{check}}{{selectItem.idTicketBet}}{{selectItem.numGame}}" >
                      <label for="{{empate}}{{selectItem.idTicketBet}}{{selectItem.numGame}}">&nbsp;</label>
                    </div>
                    </td>
                    <td>{{ selectItem.nameVisitante }}</td>
                    <td class="check-visita">
                    <div style="display: flex;justify-content: center;align-items: center;">
                      <input type="checkbox" (click)="selectCheck($event)" value="V" id="{{visita}}{{selectItem.idTicketBet}}{{selectItem.numGame}}" name="{{check}}{{selectItem.idTicketBet}}{{selectItem.numGame}}" >
                      <label for="{{visita}}{{selectItem.idTicketBet}}{{selectItem.numGame}}">&nbsp;</label>
                    </div>
                    </td>
                </tr>
            </tbody>
          </table>
        </li>
        <li>

        </li>
      </ul>
    </div>
  </div>
</ng-template>
