body {
  font-family: 'Lato', sans-serif;
  background-color: #f4b927;
 }
 .wrapper {
 padding-top: 120px;
 }
 .card-img-top {
 box-shadow: 0 5px 10px rgba(0,0,0,0.5);
 }
 .card-body{
     text-align: center;
     box-shadow: 0px 15px 15px -8px rgba(0,0,0,0.5)
 }
 .card-body h6 {
 font-size: 14px;
 text-transform: uppercase;
 color: deeppink;
 }
 .card-title {
 text-transform: uppercase;
 font-weight: bold;
 font-size: 24px;
 }

 .socials a {
 width: 40px;
 height: 40px;
 display: inline-block;
 border-radius: 50%;
 margin: 0 5px;
 }
 .socials a i {
 color: #fff;
 padding: 12px 0;
 }

 .socials a:nth-child(1) {
 background: #3b5998;
 }.socials a:nth-child(2) {
 background: #ff0000;
 }.socials a:nth-child(3) {
 background: #007bb5;
 }.socials a:nth-child(4) {
 background: #ea4c89;
 }

 @media (max-width: 800px){
     .mx-30{
         margin-bottom: 30px;
     }
 }


/*Tabla de la apuesta*/
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 2px solid rgb(5, 88, 5);
  margin-left: auto;
  margin-right: auto;
}
.styled-table thead tr {
  background-color: rgb(5, 88, 5);
  color: #ffffff;
  text-align: left;

}
.styled-table th,
.styled-table td {
    padding: 3px 5px;
}
// .styled-table tbody tr {
//   border-bottom: 1px solid #dddddd;
// }

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(5, 88, 5);
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: rgb(5, 88, 5);
}

/**/
.check-local input[type=checkbox]{
  display: none;
}

.check-local input[type=checkbox] + label {
	display: block;
	background-image: url('../../../assets/apuesta/images/fotballN.svg');
	background-repeat: no-repeat;
	height: 30px;
  width: 30px;
}

.check-local:hover input[type=checkbox] + label {
	display: block;
	cursor: pointer;
}

.check-local input[type=checkbox]:checked + label {
	display: block;
  background-image: url('../../../assets/apuesta/images/fotballL.svg');
	//background-image: url('../../../assets/apuesta/images/fotballL.svg');
	background-repeat: no-repeat;
}

/*empate*/
.check-empate input[type=checkbox]{
  display: none;
}

.check-empate input[type=checkbox] + label {
	display: block;
	background-image: url('../../../assets/apuesta/images/fotballN.svg');
	background-repeat: no-repeat;
	height: 30px;
  width: 30px;
}

.check-empate:hover input[type=checkbox] + label {
	display: block;
	cursor: pointer;
}

.check-empate input[type=checkbox]:checked + label {
	display: block;
	background-image: url('../../../assets/apuesta/images/fotballE.svg');
	background-repeat: no-repeat;
}

/*visitante*/
.check-visita input[type=checkbox]{
  display: none;
}

.check-visita input[type=checkbox] + label {
	display: block;
	background-image: url('../../../assets/apuesta/images/fotballN.svg');
	background-repeat: no-repeat;
	height: 30px;
  width: 30px;
}

.check-visita:hover input[type=checkbox] + label {
	display: block;
	cursor: pointer;
}

.check-visita input[type=checkbox]:checked + label {
	display: block;
	background-image: url('../../../assets/apuesta/images/fotballV.svg');
	background-repeat: no-repeat;
}

/*Css del btn personalizado por ticket*/
body {
  background: #B1EA86;
  padding: 30px 0
}

a {
  text-decoration: none;
}

.pricingTable {
  text-align: center;
  background: #fff;
  margin: 0 -5px;
  box-shadow: 0 0 10px #ababab;
  padding-bottom: 40px;
  border-radius: 10px;
  color: #cad0de;
  transform: scale(1);
  transition: all .5s ease 0s
}

.pricingTable:hover {
  transform: scale(1.05);
  z-index: 1
}

.pricingTable .pricingTable-header {
  padding: 40px 0;
  background: #f5f6f9;
  border-radius: 10px 10px 50% 50%;
  transition: all .5s ease 0s
}

.pricingTable:hover .pricingTable-header {
  background: #ff9624
}

.pricingTable .pricingTable-header i {
  font-size: 50px;
  color: #858c9a;
  margin-bottom: 10px;
  transition: all .5s ease 0s
}

.pricingTable .price-value {
  font-size: 15px;
  color: #ff9624;
  transition: all .5s ease 0s
}

.pricingTable .month {
  display: block;
  font-size: 14px;
  color: #cad0de
}

.pricingTable:hover .month,
.pricingTable:hover .price-value,
.pricingTable:hover .pricingTable-header i {
  color: #fff
}

.pricingTable .heading {
  font-size: 24px;
  color: #ff9624;
  margin-bottom: 20px;
  text-transform: uppercase
}

.pricingTable .pricing-content ul {
  list-style: none;
  padding: 30px 30px 0px 30px;
  margin-bottom: 30px
}

.pricingTable .pricing-content ul li {
  line-height: 30px;
  color: #a7a8aa
}

.pricingTable .pricingTable-signup a {
  display: inline-block;
  font-size: 15px;
  color: #fff;
  margin-top: 1px;
  padding: 10px 35px;
  border-radius: 20px;
  background: #ffa442;
  text-transform: uppercase;
  transition: all .3s ease 0s
}

.pricingTable .pricingTable-signup a:hover {
  box-shadow: 0 0 10px #ffa442
}

.pricingTable.blue .heading,
.pricingTable.blue .price-value {
  color: #470150
}

.pricingTable.blue .pricingTable-signup a,
.pricingTable.blue:hover .pricingTable-header {
  background: #470150
}

.pricingTable.blue .pricingTable-signup a:hover {
  box-shadow: 0 0 10px #470150
}

.pricingTable.red .heading,
.pricingTable.red .price-value {
  color: #ff4b4b
}

.pricingTable.red .pricingTable-signup a,
.pricingTable.red:hover .pricingTable-header {
  background: #ff4b4b
}

.pricingTable.red .pricingTable-signup a:hover {
  box-shadow: 0 0 10px #ff4b4b
}

.pricingTable.green .heading,
.pricingTable.green .price-value {
  color: #40c952
}

.pricingTable.green .pricingTable-signup a,
.pricingTable.green:hover .pricingTable-header {
  background: #40c952
}

.pricingTable.green .pricingTable-signup a:hover {
  box-shadow: 0 0 10px #40c952
}

.pricingTable.blue:hover .price-value,
.pricingTable.green:hover .price-value,
.pricingTable.red:hover .price-value {
  color: #fff
}

@media screen and (max-width:990px) {
  .pricingTable {
      margin: 0 0 20px
  }
}

@media screen and (max-width: 600px) {
  table {
      width:100%;
  }
  thead {
      display: none;
  }
  tr:nth-of-type(2n) {
      background-color: inherit;
  }
  tr td:first-child {
      background: #f0f0f0;
      font-weight:bold;
      font-size:1.3em;
  }
  tbody td {
      display: block;
      text-align:center;
  }
  tbody td:before {
      content: attr(data-th);
      display: block;
      text-align:center;
  }
}
@media screen and (max-width: 320px) {
  table {
    display: block;
    overflow-x: auto;
  }
}
